<mat-card class="product-card" *ngIf="product" [routerLink]="['/products', product.id]">
  
  <div class="card-image-wrapper">
    <img mat-card-image [src]="product.thumbnail" [alt]="product.title">
  </div>
  
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.brand }}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p class="product-description">{{ product.description }}</p>
    <h3 class="product-price">{{ product.price | currency }}</h3>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-flat-button color="primary">View Details</button>
  </mat-card-actions>
</mat-card>
